#--------------------------------------------------------------------------------------------------
# GLOBAL CONFIGURATION
global:
  imagePullSecrets: []
  imagePullPolicy: 
  imageRegistry:
  storageClass: 
  ingressClassName: 
  labels: {}
  annotations: {}
  extraVolumes: []
  extraVolumeMounts: []

#--------------------------------------------------------------------------------------------------
# GENERAL CONFIGURATION
fullnameOverride: 
nameOverride: 
labels: {}
annotations: {}
replicaCount: 1

#--------------------------------------------------------------------------------------------------
# IMAGE CONFIGURATION
image:
  registry: quay.io
  repository: argoproj/argocd
  tag:
  digest:
  pullPolicy: IfNotPresent
  pullSecrets: []

#--------------------------------------------------------------------------------------------------
# POD CONFIGURATION
pod:
  labels: {}
  annotations: {}
  affinity: {}
  securityContext: {}
  nodeSelector: 
    kubernetes.io/os: linux
  tolerations: []
  priorityClassName: ""
  schedulerName:
  initContainers: []
  extraVolumes: []
  extraVolumeMounts: []
  sidecarContainers: []
  terminationGracePeriodSeconds: 
  extraEnvs: []
  extraEnvFrom: []
  containers: 
    applicationsetcontroller:
      command: []
      args: 
        - /usr/local/bin/argocd-applicationset-controller
      workingDir: ""
      resources:
        limits:
          cpu: 100m
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 128Mi
      securityContext: 
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      extraEnvs: []
      extraEnvFrom: []
      extraVolumeMounts: []
      healthz: false
      
#--------------------------------------------------------------------------------------------------
# SERVICE CONFIGURATION
service:
  annotations: {}
  labels: {}
  type: ClusterIP
  clusterIP:
  ports:
    webhook: 
      port: 7000
      nodePort:
      hostPort:
    metrics: 
      port: 8080
      nodePort:
      hostPort:
  publishNotReadyAddresses: false
  ipFamilyPolicy: # SingleStack
  ipFamilies:

#--------------------------------------------------------------------------------------------------
# POD DISRUPTION POLICY CONFIGURATION
pdb: 
  enabled: true
  annotations: {}
  labels: {}
  unhealthyPodEvictionPolicy: AlwaysAllow
  minAvailable: 1
  maxUnavailable: 