#--------------------------------------------------------------------------------------------------
# GLOBAL CONFIGURATION
global:
  imagePullSecrets: []
  imagePullPolicy:
  imageRegistry:
  storageClass:
  ingressClassName:
  labels: {}
  annotations: {}
  extraVolumes: []
  extraVolumeMounts: []

#--------------------------------------------------------------------------------------------------
# GENERAL CONFIGURATION
fullnameOverride:
nameOverride:
labels: {}
annotations: {}

#--------------------------------------------------------------------------------------------------
# IMAGE CONFIGURATION
image:
  registry: docker.io
  repository: vaultwarden/server
  tag:
  digest:
  pullPolicy: IfNotPresent
  pullSecrets: []

#--------------------------------------------------------------------------------------------------
# DEPLOYMENT CONFIGURATION
replicaCount: 1
revisionHistoryLimit: 3
minReadySeconds: 10
strategy: {}

#--------------------------------------------------------------------------------------------------
# POD CONFIGURATION
pod:
  labels: {}
  annotations: {}
  affinity: {}
  securityContext: {}
  nodeSelector:
    kubernetes.io/os: linux
  tolerations: []
  priorityClassName: ""
  schedulerName:
  initContainers: []
  extraVolumes: []
  extraVolumeMounts: []
  sidecarContainers: []
  terminationGracePeriodSeconds:
  extraEnvs: []
  extraEnvFrom: []
  containers:
    vaultwarden:
      command: []
      args: []
      workingDir: ""
      resources:
        limits:
          cpu: 300m
          memory: 1Gi
        requests:
          cpu: 50m
          memory: 256Mi
      securityContext: {}
      extraEnvs: []
      extraEnvFrom: []
      extraVolumeMounts: []
      healthz: true

#--------------------------------------------------------------------------------------------------
# SERVICE CONFIGURATION
service:
  annotations: {}
  labels: {}
  type: ClusterIP
  clusterIP:
  ports:
    http:
      port: 80
      nodePort:
      hostPort:
    websocket:
      port: 3012
      nodePort:
      hostPort:
  publishNotReadyAddresses: false
  ipFamilyPolicy: # SingleStack
  ipFamilies: []

#--------------------------------------------------------------------------------------------------
# INGRESS CONFIGURATION
ingress:
  enabled: false
  className: ""
  labels: {}
  annotations: {}
  host: "vaultwarden.example.com"
  tls:
    enabled: false
    secretName: ""

#--------------------------------------------------------------------------------------------------
# PERSISTENCE CONFIGURATION
persistence:
  enabled: false
  accessModes:
    - ReadWriteOnce
  size: 10Gi
  storageClass: ""
  volumeName: ""

#--------------------------------------------------------------------------------------------------
# POD DISRUPTION POLICY CONFIGURATION
pdb:
  enabled: true
  annotations: {}
  labels: {}
  unhealthyPodEvictionPolicy: AlwaysAllow
  minAvailable: 1
  maxUnavailable: null

#--------------------------------------------------------------------------------------------------
# BACKUP CONFIGURATION
backup:
  enabled: false

  image:
    registry: ghcr.io
    repository: jnnkrdb/gittar
    tag: latest
    digest:
    pullPolicy: Always
    pullSecrets: []

  cronjob:
    suspend: false
    schedule: "0 */6 * * *" # all 6h
    successfulJobsHistoryLimit: 2
    failedJobsHistoryLimit: 3
    concurrencyPolicy: Replace
    startingDeadlineSeconds:
    timeZone: Etc/UTC
    jobTemplate:
      suspend: false
      completions:
      parallelism:
      completionMode:
      backoffLimitPerIndex:
      maxFailedIndexes:
      backoffLimit:
      activeDeadlineSeconds:
      ttlSecondsAfterFinished:


  pod:
    labels: {}
    annotations: {}
    affinity: {}
    securityContext: {}
    nodeSelector:
      kubernetes.io/os: linux
    tolerations: []
    priorityClassName: ""
    schedulerName:
    initContainers: []
    extraVolumes: []
    extraVolumeMounts: []
    sidecarContainers: []
    terminationGracePeriodSeconds:
    extraEnvs: []
    extraEnvFrom: []
    restartPolicy: Never
    containers:
      backup:
        command:
          - /bin/sh
          - -c
        args:
          - |
            echo "finished!" 
            exit 0
        workingDir: ""
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        extraEnvs: []
        extraEnvFrom: []
        extraVolumeMounts: []

  persistence:
    enabled: false
    accessModes:
      - ReadWriteOncePod
    size: 5Gi
    storageClass: ""
    volumeName: ""
