name: Build Charts from .dev
on:
  push:
    branches:
      - master
    paths:
      - '.dev/**'
jobs:
  helm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chart:
          - .dev/argocd
    env:
      HELM_EXPERIMENTAL_OCI: 1 #enable OCI support
      HELM_DIR: .dev/
      HELM_URL: https://jnnkrdb.github.io/helm/
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0