#--------------------------------------------------------------------------------------------------
# GLOBAL CONFIGURATION
global:
  imagePullSecrets: []
  imagePullPolicy: 
  imageRegistry:
  storageClass: 
  ingressClassName: 
  labels: {}
  annotations: {}
  extraVolumes: []
  extraVolumeMounts: []

#--------------------------------------------------------------------------------------------------
# GENERAL CONFIGURATION
fullnameOverride: 
nameOverride: 
labels: {}
annotations: {}
replicaCount: 1

#--------------------------------------------------------------------------------------------------
# IMAGE CONFIGURATION
image:
  registry: ghcr.io
  repository: dexidp/dex
  tag:
  digest:
  pullPolicy: IfNotPresent
  pullSecrets: []

argocd:
  image:
    registry: quay.io
    repository: argoproj/argocd
    tag: v2.14.15
    digest:
    pullPolicy: IfNotPresent
    pullSecrets: []
    
#--------------------------------------------------------------------------------------------------
# POD CONFIGURATION
pod:
  labels: {}
  annotations: {}
  affinity: 
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/part-of: argocd
            topologyKey: kubernetes.io/hostname
          weight: 5
  securityContext: {}
  nodeSelector: 
    kubernetes.io/os: linux
  tolerations: []
  priorityClassName: ""
  schedulerName:
  initContainers: []
  healthz: true
  extraVolumes: []
  extraVolumeMounts: []
  sidecarContainers: []
  terminationGracePeriodSeconds: 
  extraEnvs: []
  extraEnvFrom: []
  containers: 
    copyutil:
      command: 
        - /bin/cp
      args: 
        - -n
        - /usr/local/bin/argocd
        - /shared/argocd-dex
      workingDir: ""
      resources: {}
      securityContext: 
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      extraEnvs: []
      extraEnvFrom: []
      extraVolumeMounts: []
    dexidp:
      command: 
        - /shared/argocd-dex
      args: 
        - rundex
      workingDir: ""
      resources: 
        limits:
          cpu: 50m
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 64Mi
      securityContext: 
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      extraEnvs: []
      extraEnvFrom: []
      extraVolumeMounts: []
      healthz: false
      
#--------------------------------------------------------------------------------------------------
# SERVICE CONFIGURATION
service:
  annotations: {}
  labels: {}
  type: ClusterIP
  clusterIP: None
  ports: 
    http: 
      port: 5556
      nodePort:
      hostPort:
    grpc: 
      port: 5557
      nodePort:
      hostPort:
    metrics: 
      port: 5558
      nodePort:
      hostPort:
  publishNotReadyAddresses: false
  ipFamilyPolicy: # SingleStack
  ipFamilies:

#--------------------------------------------------------------------------------------------------
# INGRESS CONFIGURATION
ingress:
  enabled: false
  className: ""
  labels: {}
  annotations: {}
  host: "dexidp.example.com"
  tls:
    enabled: false
    secretName: ""

#--------------------------------------------------------------------------------------------------
# POD DISRUPTION POLICY CONFIGURATION
pdb: 
  enabled: true
  annotations: {}
  labels: {}
  unhealthyPodEvictionPolicy: AlwaysAllow
  minAvailable: 1
  maxUnavailable: 